* {
    padding: 0px;
    margin: 0px;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
        }

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    min-width: 320px;
    font-family: 'TT Lakes';
}

.wrapper {
    height: 234px; 
    background-color: #F2F2F2;
    overflow-x: hidden;
}

.header__brends {
    height: 80px;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);;
    text-align: center;
    border-top: 1px solid #D9FFF5;
}

.header__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    display: block;
    padding: 16px;
    text-align: start;
    white-space: wrap;
    font-weight: normal;
}

.brends__container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 

.brends__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* overflow-x: hidden; */
}

.brend__item {
    min-width: 240px;
    height: 72px !important;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 0 16px 16px;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}

.wrapper::after {
    content: '';
    background: none;
    background-image: url(../img/fade.png);
    height: 72px;
    width: 24px;
    z-index: 20;
    position: absolute;
    right: 0px;
    top: 97px;
}

.btn__brend {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-image: url(../img/go.png);
    background-color: #fff;
    margin-right: 16px;
}

.brend__img {
    margin-left: 16px;
}

.btn__read-next.show {
    display: none;
}

@media (min-width: 768px){
    .wrapper {
        height: 324px;
    }

    .brends__container {
        margin-top: 24px;
        margin-left: 24px;

    }

    .brends__box {
        flex-wrap: wrap;
        overflow-y: hidden;
        overflow-x: auto;
        max-height: 160px;
    }
    .brend__item {
        margin: 0 24px 24px 0;
        min-width: 224px;
    }

    .brend__item:hover {
        transform: rotate(15deg) rotate(-15deg) scale(1.2);
        transition: 0.6s;
    }

    .btn__read-next.show {
        position: relative;
        display: flex;
        width: 134px;
        height: 24px;
        margin-top: 24px;
        border: none;
        background-color: #F2F2F2;
    }

    .btn__read-next.show:hover {
        cursor: pointer;
        transform: scale(1.1);
        
        transition: 0.3s;
    }

    .btn__read-next.show::before {
        content: attr(data-caption);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        position: absolute;
        left: 28px;
        top: 1px;
    }
    
    .btn__read-next.show::after {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url(../img/expand.png);
        position: absolute;
        right: 108px;
    }
    
    .btn__read-next.hide {
        position: relative;
        display: flex;
        width: 134px;
        height: 24px;
        margin-top: 24px;
        border: none;
        background-color: #F2F2F2;
    }

    .btn__read-next.hide:hover {
        cursor: pointer;
        transform: scale(1.1);
        
        transition: 0.3s;
    }

    .btn__read-next.hide::before {
        content: 'Скрыть';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        position: absolute;
        left: 28px;
        top: 1px;
    }
    
    .btn__read-next.hide::after {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url(../img/expand.png);
        transform: rotate(180deg);
        position: absolute;
        right: 108px;
    }
    
    .swiper-pagination {
        display: none;
    }

}

@media (min-width: 1120px){
    .brends__container {
        margin-top: 24px;
        margin-left: 32px;
    }
    .brend__item {
        margin: 0 32px 16px 0;
        min-width: 240px;
    }

    
}

.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction { 
    bottom: -4px !important;
}

.wrapper--mid {
    height: 526px;
}

.section--mid {
    max-height: 361px;
}

.wrapper--desc {
    height: 415px;
}

.section--desc {
    max-height: 248px;
}

.hidden {
    display: none;
}